body {
  font-family: Arial, sans-serif;
  background: #989999;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  padding: 20px;
  background: #0b100c;
  color: white;
}

.products {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  padding: 30px;

}

.product {
  background: white;
  width: 150px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 6px 15px rgba(22, 22, 22, 0);
  transition: transform 0.3s;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  width: 50%;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
}

.product h2 {
  font-size: 18px;
  margin: 10px 0;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
}

button {
  background: #323131;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: #1d1c1c;
}

/* Cart section */
#cart {
  margin-top: 10px;
}

.checkout-btn {
  width: 200px;
  margin: 20px auto;
  font-size: 16px;
}

